.btn{
    @include flexContent(row);
    background-color: transparent;
    color:rgb(35, 86, 255);
    border: 1px solid rgb(35, 86, 255);
    justify-content: center;
    height:auto;
    margin: 0px 5px;
    padding: 5px;
    width: auto;    
}
.btn-red:active{
        background-color: #a50000;
} 
.btn-green:active{
        background-color: #00a500;
} 