@import 'config';

@mixin flexContent ($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

body{
    @include flexContent(column);
    @import 'media-queries';
    background-image: url(../../img/logo-fontoblanco-blue.png);
    background-size: 100vw 100vh;
    overflow-x: hidden;
    color: rgb(255, 255, 254);
    @import 'header';
   
    main{
        
        font-family: 'Roboto', sans-serif;
        @include flexContent(column);
        width: 100vw;
        overflow-y: auto;
        @import 'sections'; 
    }
}
@import 'btn';
