@import 'config';

@mixin flexContent ($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

body{
    @include flexContent(column);
    @import 'media-queries';
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    @import 'header';
    main{
        @include flexContent(column);
        width: 100vw;
        @import 'sections'; 
    }
}
@import 'btn';
